body {
    font-family: "New Roman";
    background-color: #d0e4fe
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    border: 1px solid black
}

th {
    font-weight: bold;
    : center;
    background-color: lightblue;
    border: 1px solid black
}

td {
    text-align: left;
    border: 1px solid black
}

button.aboveTable {
    font-size: 16px;
    color: black;
    background-color: lightgrey;
    height: 24px;
    text-align: center
}

    button.aboveTable:hover {
        color: Red
    }

button.crud {
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: lightgreen;
    height: 24px;
    text-align: center
}

    button.crud:hover {
        color: Red
    }

button.underTable {
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: lightgrey;
    height: 24px;
    text-align: center
}

    button.underTable:hover {
        color: Red
    }

tr.songitem:hover {
    color: blue;
    background-color: gold
}

tr.songitem:active {
    color: white;
    background-color: black
}

tr.selectedItem {
    font-weight: 800;
    color: black;
    background-color: red
}
