@{
    ViewData["Title"] = "Data Management";
}

<style>
    body {
        font-family:"New Roman";
        font-size:20px;
        background-color:#d0e4fe;
    }
    table {
        border: 2px solid #000000;
        border-collapse: collapse;
        width:100%;
        margin-left: auto;
        margin-right: auto;
    }
    td,th {
        border: 1px solid #000000;
    }
</style>

<h3 style="color:green;">@ViewData["Title"]</h3>

<table>
    <tr>
        <td>
            <a asp-area="" asp-controller="Song" asp-action="Index">Songs Management</a>
        </td>
        <td>
            <a asp-area="" asp-controller="Singer" asp-action="Index">Singers Management</a>
        </td>
    </tr>
</table>