@model VodManageSystem.Models.DataModels.Song

@{
    ViewData["Title"] = "Add Song";
    ViewBag.Action = "Add";
}

<h3 style="color:green;">@ViewData["Title"]</h3>

@section Scripts {
    @{
        await Html.RenderPartialAsync("~/Views/Song/_SongValidationScriptsPartial.cshtml");
    }
}

@await Html.PartialAsync("_SongOneRecordForm.cshtml", Model)

@* or await Html.PartialAsync("_SongOneRecordForm.cshtml") *@
